Adding a query parameter to the redirect_uri causes an invalid URI to be returned

## Adding a query parameter to the redirect_uri causes the redirect URI to be build with invalid syntax

### Description 

If you register a redirect URI such as `https://login.acme.com/login?foo=bar`, the user-agent will be redirected to so `https://login.acme.com/login?foo=bar?code=XXXXXXXX`. 

### Steps to reproduce
Steps to reproduce the behavior:
1. Register an application with a redirect URI containing a query parameter
2. Attempt to login

### Expected behavior

It seems from the OAuth RFC that a query parameter is allowed, so I would expect the parameter to be preserved and the subsequent URL to be built correctly. 

https://tools.ietf.org/html/rfc6749#section-3.1.2

>   The redirection endpoint URI MUST be an absolute URI as defined by
>    [RFC3986] Section 4.3.  The endpoint URI MAY include an
>    "application/x-www-form-urlencoded" formatted (per Appendix B) query
>    component ([RFC3986] Section 3.4), which MUST be retained when adding
>    additional query parameters.  The endpoint URI MUST NOT include a
>    fragment component.

### Screenshots
If applicable, add screenshots to help explain your problem.

### Platform
(Please complete the following information)
 - Device: [e.g. Desktop, iPhone X, Pixel 3, etc]
 - OS: [e.g. iOS, macOS, Windows ME]
 - Browser + version [e.g. chrome, safari plus a version]

### Additional context
Add any other context about the problem here.


Fixed in version 1.3.1.