Set-Cookie is not setting refresh_token cookie

## Set-Cookie is not setting refresh_token cookie

### Description 
We are using the API to sign-in (api/login), refresh (api/jwt/refresh), and sign-out (api/logout). Each of these requests are supposed to set the refresh_token cookie in the browser but they are not getting set. My guess is the browser isn't setting it because the date/time format for the Set-Cookie expire date is not correct. I could be wrong but the format it uses is Expires=Tue, 29-Sep-2020 16:00:01 GMT. According to https://tools.ietf.org/html/rfc6265#section-4.1.1 and https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie it should not have dashes and should be 
`ddd, dd MMM yyyy HH':'mm':'ss 'GMT'`

According to https://tools.ietf.org/html/rfc2616#section-3.3.1
```
HTTP applications have historically allowed three different formats
   for the representation of date/time stamps:

      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format

   The first format is preferred as an Internet standard and represents
   a fixed-length subset of that defined by RFC 1123 [8] (an update to
   RFC 822 [9]). The second format is in common use, but is based on the
   obsolete RFC 850 [12] date format and lacks a four-digit year.
   HTTP/1.1 clients and servers that parse the date value MUST accept
   all three formats (for compatibility with HTTP/1.0), though they MUST
   only generate the RFC 1123 format for representing HTTP-date values
   in header fields.
```

This is the Response Header from api/login with an Expires date which doesn't match any of the above formats:
`set-cookie: refresh_token=RM5SEb70BwyydnrrBiOoOhUPujMHdWx85mZ55l9o4NtB85h0GnjPxw; Max-Age=5184000; Expires=Tue, 29-Sep-2020 16:00:01 GMT; Path=/; Secure; HttpOnly; SameSite=Strict`

### Affects versions
1.17.4
1.18.4

### Steps to reproduce
Steps to reproduce the behavior:
Sign in, refresh the token or sign out with the API from the browser and the refresh_token is not visible under the Chrome Developer Console > Application > Cookies and do not get pass on future calls. 

### Expected behavior
The token should be visible in the Chrome Developer Console and passed to subsequent calls. For example, I login in Set-Cooke is stored and api/jwt/refresh is called with the stored cookie attached.

### Screenshots
If applicable, add screenshots to help explain your problem.

### Platform
 - macOS
 - Browser Chrome 84.0.4, Safari 13.1.1, Firefox 78.0.2

### Additional context
Upgraded from 1.12 to 1.17.4 and stored the refresh_token cookie was still stored from 1.12 from a different tenant and caused issues with refreshing. We also pass the token in the body to api/jwt/refresh but it seems the logic is to favor the cookie. 


The cookie header is set by Tomcat. It looks like they are still adding the `Expires` value for compatibility with IE. 

See [Rfc6265CookieProcessor.generateHeader](https://github.com/apache/tomcat/blob/c180b3e160aff5e2374fcf987bac9c0e589b0b94/java/org/apache/tomcat/util/http/Rfc6265CookieProcessor.java#L103) and [CookieProcessorBase.COOKIE_DATE_PATTERN](https://github.com/apache/tomcat/blob/ec782a03a91cddeab2406d6e16a953a0dcf982a5/java/org/apache/tomcat/util/http/CookieProcessorBase.java#L27)

I doubt this is causing you errors, looks to be working as designed. It is likely something else that is causing this issue for you. 

Do you have your application configured to provide refresh tokens? `Applications > Security`.

I changed the SameSite policy to Lax (also tried None) but it didn't make a difference. I have FA setup at auth.domain.com and my site at admin.domain.com so it shouldn't make a difference. I have another cookie on the request from AWS ALB which is set without issue. The expire timestamp format and FA additionally has HttpOnly.
`set-cookie: AWSALBCORS=zwntaZShsRQ2/N2PIQd06gh4CPQAnCL/x07VUnuInekx3k2ESPStMRKonpK1+wmXI7pYj5xPdWQ6CG8WsdeJCMTK3UY6oVBjQ3FQKQu7bQiXn4RsTdeBHB7M4vyI; Expires=Sat, 08 Aug 2020 00:43:18 GMT; Path=/; SameSite=None; Secure`

I read another article on StackOverflow mentioning the access-control-expose-headers and including Set-Cookie on it... but that doesn't make sense to me since the AWS ALB cookies are being set without.
`access-control-expose-headers: Access-Control-Allow-Credentials,Access-Control-Allow-Origin`

I think I have a better understanding of what is going on. We have auth.domain.com doing the authentication and admin.domain.com for the site. The cookies are not set because these endpoints are different sub-domains regardless of the SameSite setting. 

We also have an Electron application using auth.domain.com but it will store the refresh_token cookie if the SameSite mode is set to None. Electron app's don't have a domain besides the file system so they handle cookies different than the browser. 

Glad you got it figured out @karice . 

If you haven't come across the authentication workflows - they may be helpful. 

This may be close to what you are doing.
https://fusionauth.io/learn/expert-advice/authentication/webapp/oauth-authorization-code-grant-jwts-refresh-tokens-cookies

In this example, the "store" (application) is writing back cookies to the browser so that the correct domain can be used for the cookies. 

More flows: https://fusionauth.io/learn/expert-advice/authentication/login-authentication-workflows