Bug: OpenID Connect Authorization Code Grant should allow redirect_uri to contain arbitrary schemes

## OpenID Connect Authorization Code Grant should allow redirect_uri to contain arbitrary schemes

### Description 
According to the OpenID Connect specification section 3.1.2.1, the `redirect_uri` should allow arbitrary URI schemes as long as the URI is absolute (according to the URI specification). Currently, FusionAuth only supports `redirect_uri` values that start with `http`. This is actually part of the validation for the `/api/application` API when we validate the `application.oauthConfiguration.authorizedRedirectURLs` property.

https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

> redirect_uri
> REQUIRED. Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider, with the matching performed as described in Section 6.2.1 of [RFC3986] (Simple String Comparison). When using this flow, the Redirection URI SHOULD use the https scheme; however, it MAY use the http scheme, provided that the Client Type is confidential, as defined in Section 2.1 of OAuth 2.0, and provided the OP allows the use of http Redirection URIs in this case. *The Redirection URI MAY use an alternate scheme, such as one that is intended to identify a callback into a native application.*


I don't know of any concrete examples of what arbitrary schemes could be used other than `http` or `https`, but perhaps there are existing or future use cases for supporting additional schemes. 

### Steps to reproduce
Steps to reproduce the behavior:
1. Call the `/api/application` API with a property value for `application.oauthConfiguration.authorizedRedirectURLs` that contains a valid URI that is absolute but uses a custom scheme for a native application (for example)
   - For example `acme://login.example.com/callback`
2. You will receive a 400 error code indicating that the URI is invalid and must begin with `http` or `https`.

### Expected behavior
This should not produce a validation error as long as the URI is fully qualified. 


Is there some way to register different values that start with "http" or "https" for the "Authorized redirect URLs"?

I was trying to register iOS scheme but this cannot be registered by the FusionAuth UI Dashboard... this mean we cannot use FusionAuth for mobile iOS integration.

![image](https://user-images.githubusercontent.com/4554485/54475446-6cba8700-47bf-11e9-8ec1-bbca8776317a.png)


Thanks @davisusanibar for this example and feedback re: iOS. This is on the roadmap to fix. Can you give me a concrete example of the redirect URL you'd like to use? 

Thanks!!